<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Devices</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content padding="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-round-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="devices.length === 0">
    <h2>No registered devices yet</h2>
    <p>You can now turn on your device and start registering it <a routerLink="/bind">here</a>.</p>
  </div>

  <ion-grid *ngIf="devices.length > 0">
    <ion-card *ngFor="let device of devices">
      <ion-card-header>
        <ion-card-title>
          {{device.name}}
        </ion-card-title>
        <ion-card-subtitle *ngIf="!device.latestObservation">
          Created: {{formatDateTime(device.created)}}
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="device.latestObservation">
          Last reported: {{formatDateTime(device.latestObservation.created)}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content *ngIf="device.latestObservation">
        <ion-chip>
          <ion-icon name="sunny"></ion-icon>
          <ion-label>{{device.latestObservation.light}}%</ion-label>
        </ion-chip>

        <ion-chip>
          <ion-icon name="water"></ion-icon>
          <ion-label>{{device.latestObservation.moisture}}%</ion-label>
        </ion-chip>

        <ion-chip>
          <ion-icon name="thermometer"></ion-icon>
          <ion-label>{{device.latestObservation.temperature}}°C</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
