<ion-label *ngIf="!editing" (click)="startEditing()">{{value}}</ion-label>
<ion-grid  *ngIf="editing" class="ion-no-margin ion-no-padding">
  <ion-row>
    <ion-col size-xs="8" size-md="5" size-lg="2" class="ion-no-margin ion-no-padding">
      <ion-item class="ion-no-margin ion-no-padding">
        <!--ion-input [(ngModel)]="newValue"></ion-input-->
      </ion-item>
    </ion-col>
    <ion-col size="1">
      <ion-button (click)="accept()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
      <ion-button (click)="cancel()" size="small">
        <ion-icon name="close" size="small"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
